@tailwind base;
@tailwind components;
@tailwind utilities;

/* two col page setup*/
#page-container {
    display: flex;
    flex-direction: row;
    margin: 3em;
}
.left-side { 
    border-style: double;
    width: 30%;
    height: 80vh;
    padding: 1em;
}
.right-side { 
    width: 30%;
    height: 80vh;
    /* padding: 1em; */
    padding-right: 2em;
}

.middle-side {
    width: 30%;
    height: 80vh;
    padding: 1em;
    padding-right: 10%;
    /* background-color: blue; */
}

.manager-right-side { 
    border-style: dashed;
    border-color: green;
    width: 60%;
    height: 80vh;
    padding: 1em;
}

.manager-left-side { 
    border-style: dashed;
    border-color: green;
    width: 40%;
    height: 80vh;
    padding: 1em;
}

#banner {
    margin: 1em 3em;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.btn-list-item {
    margin: 0.5em;
    width: 50%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    height: 3em;
}

/*navbar*/
.header {
    padding: 1% 1.5%;
    display: flex;
    justify-content: space-between;
    /*background-color: rgba(33, 158, 188, 0.25)*/
}
  
.logo {
    margin-left: 2%;
    height: 60px;
}

#form {
    margin: 5vw 0;
}

.custom-font { 
    font-size: 1rem; 
    font-style: italic;
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

#map {
    position: relative;
    /* Relative positioning */
    z-index: 1;
    /* Lower z-index than the chatbot */
}

/* calendar.jsx */
.calendar {
    font-family: 'Raleway', sans-serif;
    padding-left: 7%;
    padding-right: 13%;
    margin-top: 20px;
}
#v2 {
    font-family: 'Raleway', sans-serif;
}

.instructions {
    font-family: 'Raleway', sans-serif;
    padding-left: 5%;
}
